asgiref==3.8.1
Django==4.2.16
django-cors-headers==4.4.0
django-extensions==3.2.3
django-grappelli==4.0.2
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
pillow==10.4.0
PyJWT==2.9.0
PyMySQL==1.1.1
python-dotenv==1.1.0
sqlparse==0.5.2
typing_extensions==4.12.2
